/* CSS Google Font  */
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700");
/* CSS Google Font end  */
:root {
  --prim-color: #9e3fe0;
  --prim-color-dark: #7030a0;
  --sec-color: #312593;
  --grey-color-1: #faf8fd;
  --grey-color-2: #777777;

  --dark-1: #464646;
  --dark-2: #313131;

  --shadow: 0px 0px 15px #3a3a3a25;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body,
html,
textarea {
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}
button {
  font-family: "Poppins", sans-serif;
  outline: none;
  border: none;
}
button:hover {
  cursor: pointer;
}
.section-info {
  text-align: center;
  max-width: 550px;
  margin: 0 auto;
  padding: 0 4rem;
  padding-top: 4.5rem;
  padding-bottom: 3rem;
}
.section-info-title {
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--dark-2);
}
.section-info-text {
  font-size: 0.9rem;
  margin-top: 0.3rem;
  color: var(--grey-color-2);
}

#header {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.logo-style {
  background-color: red;
  padding: 1rem 1.5rem;
  color: #fff;
}

/* --- START NAV --- */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10vw;
  height: 75px;
  max-width: 1200px;
  box-sizing: initial;
  margin: auto;
}
#reg-btn {
  background-color: #fff;
  padding: 0.4em 0.85em;
  color: var(--prim-color-dark);
  font-weight: 700;
  font-size: 0.85rem;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
}
#dropdown:hover {
  cursor: pointer;
}
nav span {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}
nav span img {
  width: 46vw;
  max-width: 430px;
}
nav ul {
  list-style-type: none;
  margin: 0;
  display: flex;
}
nav ul li {
  margin: 0 0.7rem;
}
nav ul li a {
  color: var(--prim-color-dark);
  font-weight: 700;
  font-size: 0.9rem;
  transition: color 300ms;
}
nav ul li a:hover {
  text-decoration: none;
  color: var(--prim-color);
}
/* --- END NAV --- */

/* --- START TOGGLE NAV */
#nav {
  display: none;
}
#mobile-logo {
  position: absolute;
  z-index: -1;
  left: 10vw;
  top: 0.9rem;
}
#nav-toggle {
  display: block;
  position: relative;
  width: 100%;
  height: 30vh;
  overflow: hidden;
}
#slidein-list {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  list-style-type: none;
}
#dropdown-toggle {
  position: absolute;
  right: 10vw;
  top: 1.5rem;
  display: block;
  color: #fff;
  background-color: transparent;
  font-size: 2rem;
  padding: 0;
}
#dropdown-toggle:hover {
  cursor: pointer;
}
#drop-down-toggle-bg {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}
#drop-down-toggle-bg img {
  overflow: hidden;
}
#slidein-list li {
  padding: 0.6rem;
}
#slidein-list li a {
  text-decoration: none;
  color: #fff;
}
.toggle_show {
  animation-name: slidein;
  animation-duration: 500ms;
  height: 130vh;
}
.toggle_hidden {
  animation-name: slideout;
  animation-duration: 500ms;
  height: 135px;
}
.toggle_show_list {
  animation-name: slidein_list;
  animation-duration: 500ms;
  left: 1rem;
}
.toggle_hide_list {
  animation-name: slideout_list;
  animation-duration: 500ms;
  left: -300px;
}
@keyframes slidein {
  from {
    height: 135px;
  }

  to {
    height: 130vh;
  }
}
@keyframes slideout {
  from {
    height: 130vh;
  }

  to {
    height: 135px;
  }
}
@keyframes slidein_list {
  from {
    left: -300px;
  }

  to {
    left: 1rem;
  }
}
@keyframes slideout_list {
  from {
    left: 1rem;
  }

  to {
    left: -300px;
  }
}

/* --- START JUMBO --- */
.jumbo-area {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding-top: 6rem;
}
.jumbo-img-container {
  width: 65vw;
  max-width: 460px;
}
.jumbo-img-container img {
  width: 100%;
  margin-top: 4rem;
}
.jumbo-text-container {
  text-align: center;
  max-width: 550px;
  padding: 0 2rem;
}
.jumbo-text-title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1.8rem;
}
.jumbo-text-container-apps {
  margin-top: 2rem;
}
.jumbo-text-container-apps img {
  width: 110px;
}
.jumbo-text-container-app-1 {
  margin-right: 1.5rem;
}
/* --- END JUMBO --- */

/* --- START DEMO --- */
#demo {
  background-image: url("../images/mobilevideobg.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: bottom;
  padding: 4.5rem 0 10vw 0;
}
.demo-area {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
}
.demo-video-container {
  position: relative;
  margin-top: 2rem;
  padding: 3%;
  box-shadow: var(--shadow);
  border-radius: 15px;
}
.demo-video {
  width: 70vw;
  border-radius: 15px;
  max-width: 600px;
}
.demo-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1%;
  border: dotted var(--sec-color);
  border-radius: 50%;
}
.demo-play i {
  color: #fff;
  background-color: var(--sec-color);
  border-radius: 50%;
  padding: 1.5em;
}
.demo-play i:hover {
  cursor: pointer;
}
.demo-text-container {
  padding: 0 4rem;
  text-align: center;
  color: var(--grey-color-2);
  max-width: 550px;
}
/* --- END DEMO --- */

/* --- START INFO --- */
.info {
  position: relative;
  z-index: -1;
  background: url("../images/custom\ –\ 1.png") no-repeat;
  margin-top: -75px;
  height: 800px;
  background-size: 100vw auto;
  top: 0;
  left: 0;
}
/* --- END INFO --- */

/* --- START FEATURES --- */
#features-section {
  position: relative;
  box-sizing: unset;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--grey-color-1);
  height: 940px;
  margin-bottom: 130px;
}
.features-info {
  max-width: 600px;
}

.features {
  display: grid;
  grid-template-columns: 280px;
  gap: 1.5rem;
}
.feature {
  position: relative;
  background-color: #fff;
  box-shadow: var(--shadow);
  border-radius: 7px;
  padding: 1.6rem;
}
.feat-title {
  position: relative;
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--dark-1);
  padding-bottom: 1rem;
  z-index: 1;
}
.feat-content {
  font-size: 0.7rem;
  font-weight: 500;
  color: var(--grey-color-2);
}
.feat-num {
  position: absolute;
  font-size: 2rem;
  top: 0.35em;
  color: #eff1fd;
  font-weight: 700;
}
/* --- END FEATURES --- */

/* --- START BANNER --- */
.banner {
  background: url("../images/bannerbg.jpg") no-repeat;
  background-size: cover;
  padding: 2rem;
  text-align: center;
  color: #fff;
}
.banner .text h1 {
  font-size: 1.5rem;
  font-weight: 700;
  max-width: 16rem;
  margin: 0 auto;
  margin-bottom: 1.7rem;
}
.banner .text p {
  font-size: 0.9rem;
  max-width: 23rem;
  margin: 0 auto;
  margin-bottom: 1.8rem;
}
.banner .apps img {
  padding: 0 0.5rem;
  height: 28px;
}
/* --- END BANNER --- */

/* --- START REVIEW --- */
.data-and-users {
  background: url("../images/bannerbg.jpg") no-repeat;
  background-position-y: bottom;
  background-position-x: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reviews {
  display: grid;
  grid-template-columns: 300px;
  grid-auto-rows: 280px;
  gap: 1.5rem;
  margin-bottom: 80px;
}
.review {
  box-shadow: var(--shadow);
  padding: 1.5rem 0;
  border-radius: 5px;
  background-color: #fff;
}
.rating-comment {
  position: relative;
  border-bottom: 3px solid var(--grey-color-1);
  padding: 0 2rem;
  padding-bottom: 1.5rem;
  padding-left: 50px;
  font-size: 0.8rem;
  color: var(--dark-1);
}
.rating-q {
  position: absolute;
  left: 30px;
  top: 3px;
}
.rating-desc {
  display: flex;
  padding: 1.5rem 2rem;
  justify-content: space-between;
}
.rating-auth-name {
  font-size: 0.9rem;
  color: var(--prim-color-dark);
}
.rating-auth-desc {
  font-size: 0.7rem;
  color: var(--dark-1);
}
.rating {
  font-size: 0.8rem;
  color: #e2e2e2;
}
.rating-c {
  color: var(--prim-color-dark);
}

.app-data {
  display: grid;
  grid-template-columns: 300px;
  grid-auto-rows: 150px;
  gap: 1.5rem;
  margin-bottom: 20px;
}
.data-tag {
  display: flex;
  border-radius: 5px;
  box-shadow: var(--shadow);
  background-color: #fff;
  align-items: center;
}
.data-icon {
  color: var(--prim-color-dark);
  font-size: 2rem;
  padding: 0.75em;
  border: 3px solid var(--grey-color-1);
  border-radius: 5px;
  margin: 0 2rem;
}
.data-ammount {
  text-align: left;
}
.data-ammount-num {
  color: var(--grey-color-2);
  font-size: 1.5rem;
  font-weight: 600;
}
.data-ammount-desc {
  margin-bottom: 0;
  color: var(--prim-color-dark);
  font-weight: 500;
}
/* --- END REVIEW --- */

/* --- START CONTACT --- */
.contact-form {
  margin: auto;
  width: 80%;
  max-width: 950px;
  padding-bottom: 4.5rem;
  font-size: 0.7rem;
}
.form-group {
  display: grid;
  gap: 1rem;
}
.contact-input {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: #e1dee4 solid 2px;
}
.contact-text-area {
  resize: none;
  height: 8em;
}
.contact-btn {
  color: white;
  font-weight: 500;
  background-color: var(--prim-color-dark);
  border: none;
  border-radius: 5px;
  padding: 0.7rem 1.6rem;
  justify-self: stretch;
}
/* --- END CONTACT --- */

/* --- START FOOTER --- */
#footer {
  background: url("../images/bannerbg.jpg") no-repeat;
  background-size: cover;
}
.footer-info {
  color: #fff;
  display: grid;
  max-width: 1200px;
  margin: auto;
  margin-bottom: 5rem;
  grid-template-columns: repeat(2, 1fr);
  padding: 0 2rem;
  padding-top: 4.5rem;
}
.main-footer-group {
  grid-column: 1;
  min-width: 140px;
  padding-bottom: 3rem;
  justify-self: center;
}
.logo {
  margin-bottom: 1.65rem;
}
.footer-group {
  grid-row: 2;
  min-width: 140px;
  justify-self: center;
}
.footer-group-second-row {
  grid-row: 3;
}
.footer-group-text {
  margin: 0;
  margin-bottom: 0.5rem;
}
.footer-group-title {
  margin-bottom: 1.5rem;
}

.footer-foot {
  font-size: 0.85rem;
  box-sizing: unset;
  background-color: #fff;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 425px;
  border-radius: 5px 5px 0 0;
}
.footer-foot-terms {
  display: flex;
  flex-direction: column;
}
.footer-foot-terms p {
  margin: 0;
  margin-right: 1em;
}
.footer-foot-terms p:nth-child(2) {
  margin: 0.2rem 0;
}
.footer-foot-copy p {
  margin: 0;
}
/* --- END FOOTER --- */

/* --- BREAK POINTS --- */
@media (min-width: 460px) {
  .footer-foot {
    padding: 1rem 2rem;
  }
  .footer-foot-terms {
    flex-direction: row;
  }
  .footer-foot-terms p:nth-child(2) {
    margin: 0;
  }
}
@media (min-width: 650px) {
  #features-section {
    height: 520px;
  }
  .features {
    grid-template-columns: repeat(2, 280px);
  }
  .contact-btn {
    justify-self: start;
  }
}
@media (min-width: 790px) {
  #nav {
    display: flex;
  }
  #nav-toggle {
    display: none;
  }
  .demo-play i {
    padding: 2.5rem;
  }
  .data-and-users {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
  }
  .app-data {
    grid-auto-rows: 280px;
  }
  .data-tag {
    flex-direction: column;
    justify-content: center;
  }
  .data-ammount {
    text-align: center;
  }
  .data-icon {
    margin: 0;
    margin-bottom: 2.3rem;
    font-size: 2.3rem;
  }
  .footer-info {
    grid-template-columns: repeat(4, 1fr);
  }
  .footer-foot {
    flex-direction: row;
    justify-content: space-between;
    max-width: 720px;
  }
  .footer-group-second-row {
    grid-row: 2;
  }
}
@media (min-width: 992px) {
  #features-section {
    height: 380px;
  }
  .features {
    grid-template-columns: repeat(3, 280px);
  }
  .form-group {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5rem;
  }
  #form-msg {
    grid-column: 1/4;
    height: 15em;
  }
  .contact-btn {
    justify-self: center;
    grid-column-start: 2;
  }
  .footer-info {
    grid-template-columns: repeat(5, 1fr);
  }
  .main-footer-group,
  .footer-group,
  .footer-group-second-row {
    grid-row: 1;
  }
}
@media (min-width: 1200px) {
  nav ul {
    margin-right: 250px;
  }
  nav ul li {
    margin: 0 1.5rem;
  }
  nav span {
    display: none;
  }
  #header {
    background-image: url("../images/header_bg.png");
    background-size: cover;
  }
  .jumbo-area {
    flex-direction: row-reverse;
    justify-content: center;
    padding: 10rem 0;
    width: 90vw;
    margin: auto;
  }
  .jumbo-img-container {
    max-width: 300px;
    margin-right: 12vw;
    margin-left: 5vw;
  }
  .jumbo-img-container img {
    margin: 0;
  }
  .jumbo-text-container {
    text-align: left;
    max-width: 600px;
  }
  .jumbo-text-title {
    line-height: 1.5;
  }
  #demo {
    background-image: url("../images/video_section_area_bg.jpg");
    background-size: auto 100%;
    background-position: left;
    padding: 4rem 0;
  }
  .demo-area {
    flex-direction: row;
  }
  .demo-video-container {
    padding: 1.5%;
    margin: 0;
  }
  .demo-video {
    width: 33vw;
  }
  .demo-text-container {
    text-align: left;
    padding-left: 8vw;
    padding-right: 0;
  }
  .data-and-users {
    flex-direction: column;
    align-items: center;
    background-size: 100% 65%;
  }
  .reviews {
    grid-template-columns: repeat(3, 350px);
  }
  .app-data {
    grid-template-columns: repeat(3, 350px);
    grid-auto-rows: 150px;
    margin-bottom: 80px;
  }
  .data-ammount {
    text-align: left;
  }
  .data-tag {
    flex-direction: row;
    justify-content: start;
  }
  .data-icon {
    margin-bottom: 0;
    font-size: 2rem;
    margin: 0 2rem 0 4rem;
  }
  .footer-foot {
    max-width: 1100px;
  }
}
@media (min-width: 2000px) {
  .jumbo-img-container {
    margin-right: 0;
  }
  #demo {
    background-image: none;
  }
  .demo-text-container {
    text-align: left;
    padding-left: 4rem;
  }
  .demo-video-container {
    padding: 2rem;
  }
}
